* body{
  background-color: #EDF2F4 !important;
}
.navbar-hover:hover{
  color: #0096C7 !important;
  font-size: large;
  font-weight: bold;
  transition: 0.5s ease-out;
}
.nav-btn{
  background-color: #0096C7 !important;
  border: none !important;
}




.home-section1{
  margin-top: 96px;
  /* margin-bottom: 96px; */
  height: 700px;
  width: 100%;
}
.home-main1{
  height: 509px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.home-section1-heading{
  font-size: 61px;
  line-height: 1; 
}
.home-section1-para{
  font-size: 18px;

}
.home-section1-btn1{
  padding: 12px 32px 12px 32px;
  background-color: #0096C7;
  color: white;
  border: 1px solid #0096C7;
  border-radius: 5px;
  

}
.home-section1-btn2{
  padding: 12px 32px 12px 32px;
  background-color: white;
  color:#0096C7;
  border: 1px solid #0096C7;
  border-radius: 5px;
  
}
.home-icon{
  width: 24px;
  height: 24px;
  
}

.home-main2{
  height: 487px;
}
.home-main2-inner{
  margin-left: 260px;
}


.rating{
  height: 142px;
  width: 300px;
  background-color:  #EDF2F4;
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 20px;
  position: relative;
  top: -275px;
  left: 436px;
  box-shadow: 5px 5px 40px grey;
}
.star-icon{
  width: 20px;
  height: 19.02px;
  color: #FCBF49;  
}

.rating-heading{
  font-size: 37px;
  font-weight: bold;
}
.rating-para{
  color:  #808080;
  height: 19px;
}
.customers{
  width: 323px;
  height: 128px;
  background-color: #EDF2F4;
  color: black;
  border: none;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 24px 64px 24px 64px;
  position: relative;
  top: -320px;
  left: 71px;
  box-shadow: 5px 5px 40px grey;
}
.customer-text{
  font-size: 20px;
}

.logos-section{
  height: 100px;
  padding-top: 32px;
  background-color: #252422;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logos-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.section{
  background-image: url('../public/SectionBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-content{
  font-size: 76px;
  font-weight: 700;
  /* text-align: center; */
  /* align-items: center; */
}
.section-para{
  font-size: 18px;
}
.section-title{
  color: #808080;
  font-size: 18px;
}
.about-section{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 799px;
  padding-top: 96px;
  padding-bottom: 96px;
  width: 590px;
}
.about-section-about{
  font-size: 16px;
  color: #0096C7;
}
.about-section-heading{
  font-size: 49px;
  font-weight: 700;
  line-height: 1;

}
.about-section-heading2{
  font-size: 49px;
  font-weight: 700;
  color: #0096C7;
  line-height: 1;
}
.about-para{
  font-size: 18px;
  color: #4D4D4D;
  font-weight: 400;
  line-height: 24px;

}
.about-section-three-cart{
  display: flex;
  justify-content: space-around;
  line-height: 0.8;
}
.about-section-cart-heading{
  font-size: 49px;
  font-weight: 700;
}

.strategy-heading{
  font-size: 25px;
  font-weight: 600;
}
.grey{
  color: #4D4D4D;
}
.blue{
  color: #0096C7;
}
.about-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  height: 483px;
}
.about-section-heading3{
  font-size: 49px;
  font-weight: 700;
  line-height: 1.2;
}
.ab-1{
  width: 387px;
}
.ab-2{
  width: 384px;
}
.about-arrow{
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}


/* ============== Sevrice Data ================= */


.service-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.service-strategy{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.service-para{
  font-size: 18px;
  color: #4D4D4D;
  font-weight: 400;
  line-height: 24px;
}
.check-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}
.check-icon{
  width: 33px;
  height: 32px;
  color: #0096C7;
}
.services-check{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-img{
  width: 536px;
  height: 395px;
}
.service-i{
  display: flex;
  justify-content: end;
  margin-top: 100px
}
.service-section-heading{
  font-size: 49px;
  font-weight: 700;
  line-height: 1;
}
.service-cart-content{
  display: flex;
  justify-content: space-between;
}
.service-cart-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-cart-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.service-cart{
  width: 386px;
  height: 472px;
}
.service-cart-name{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}