@media only screen and (max-width: 992px ) {
    .logos-section{
        height: auto; /* Allow height to adjust based on content */
        /* width: 100%; Full width of the screen */
        padding-top: 20px; /* Adjust padding for smaller screens */
        padding-bottom: 20px;
      }
      .logos-section div{
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #252422;
      }
  }